---
layout: default
---

<div class="posts">

	<h3> Articles </h3>

    {% for post in site.posts %}

    {% endfor %}


    <h4> Python </h4>
	<ul class="posts">
        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if tag == 'python' %}
                    <li class="post"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

    <h4> DataViz </h4>
	<ul class="posts">
        {% for post in site.categories['dataviz'] %}
            <li class="post"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <h4> Scala </h4>
	<ul class="posts">
        {% for post in site.categories['scala'] %}
            <li class="post"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

</div>
